<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

		<webSocket enabled="true" />

		<rewrite>
			<rules>

				<!-- SignalR Hub -->
				<rule name="SignalR Hub Proxy" stopProcessing="true">
					<match url="^queueHub(/.*)?$" />
					<action type="Rewrite"
							url="http://qsignalr.satbayev.university/queueHub{R:1}" />
					<serverVariables>
						<set name="HTTP_CONNECTION" value="Upgrade" />
						<set name="HTTP_UPGRADE" value="websocket" />
					</serverVariables>
				</rule>

				<!-- SignalR Registry API -->
				<rule name="SignalR Registry API" stopProcessing="true">
					<match url="^api/registry(/.*)?$" />
					<action type="Rewrite"
							url="http://qsignalr.satbayev.university/api/registry{R:1}" />
				</rule>

				<!-- Main API -->
				<rule name="Main API Proxy" stopProcessing="true">
					<match url="^api(/.*)?$" />
					<action type="Rewrite"
							url="http://qmain.satbayev.university/api{R:1}" />
				</rule>

				<!-- React SPA fallback -->
				<rule name="React Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api|queueHub)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>

			</rules>
		</rewrite>

	</system.webServer>
</configuration>
